<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Option</title>
</head>
<body>
    <h1>Select an Option</h1>
    <form action="/select_option" method="post">
        <label><input type="radio" name="selected_image" value="image1.jpg"> Option 1</label><br>
        <label><input type="radio" name="selected_image" value="image2.jpg"> Option 2</label><br>
        <label><input type="radio" name="selected_image" value="image3.jpg"> Option 3</label><br>
        <label><input type="radio" name="selected_image" value="image4.jpg"> Option 4</label><br>
        <button type="submit">Next</button>
    </form>
</body>
</html>
