<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Select a Person</h1>
    <form action="/filter" method="post">
        <select name="person">
            {% for person_name in person_names %}
                <option value="{{ person_name }}">{{ person_name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
